
<nav class="nav">
  <ul class="">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">GET all User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/register-view">register view</a>
      
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/login-view">login view</a>
    </li>
  </ul>
</nav>

